@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* height: 300vh; */
    scroll-behavior: smooth;
}

:root {
    --bg-bold-black: #171717;
    --bg-mid-black: #1C1C1C;

    --luminous-white: #FFFFFF;
    --luminous-gray: #DCDCDC;

    --primary-purple: #9400D3;
    --secundary-purple: #741E82;

    font-size: 62.5%;
    /* 1rem = 10px */
}


body {

    background-color: #1c1c1c;
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.neon-title {
    color: var(--luminous-white);
    text-shadow:
        0 0 7px var(--luminous-gray),
        0 0 10px var(--secundary-purple),
        0 0 30px var(--secundary-purple),
        0 0 70px var(--secundary-purple),
        0 0 100px var(--secundary-purple);
}

.btn-square button {
    width: 5rem;
    height: 5rem;
    background-color: var(--bg-bold-black);
    border: none;
    color: white;
    cursor: pointer;

    transition: 0.3s;
}

.btn-square button img {
    padding-top: 0.3rem;
}

.btn-square button:hover {
    background-color: var(--primary-purple);
}


/* -- Navbar e MenuHamburguer */

.menu-logo {
    max-width: 12rem;
    max-height: 6rem;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
}

header.scroll-bt {
    background-color: #1c1c1c;
    padding: 15px 4%;
    transition: 0.3s;
}


header ul {
    list-style: none;

}

.toggle_btn {
    font-size: 4rem;
    cursor: pointer;
    display: none;
    padding: 1.5rem;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 90px;
    width: 300px;
    height: 0;
    background-color: var(--bg-mid-black);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 50rem;
}

.dropdown_menu li {
    /* padding: 0.7rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 40px;
}


.btn-square-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-square-dropdown button {
    width: 5rem;
    height: 5rem;
    background-color: var(--bg-bold-black);
    border: none;
    color: white;
    cursor: pointer;
    margin: 2rem;

    transition: 0.3s;
}

.btn-square-dropdown button img {
    padding-top: 0.3rem;
}

.btn-square-dropdown button:hover {
    background-color: var(--primary-purple);
}

.dropdown_menu li a:hover {
    color: var(--luminous-gray);
    text-shadow:
        0 0 7px var(--primary-purple),
        0 0 10px var(--primary-purple),
        0 0 15px var(--primary-purple),
        0 0 20px var(--primary-purple),
        0 0 25px var(--primary-purple),
        0 0 30px var(--primary-purple);
}

.dropdown_menu li a {
    color: var(--luminous-gray);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: 0.3s;
    width: 100vh;
    height: 6rem;
    padding-top: 1.3rem;
    text-align: center;
}

@media screen and (max-width:1158px) {

    header ul,
    .btn-hidden {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

}

@media screen and (max-width:576px) {
    .dropdown_menu {
        width: unset;
        left: 2rem;
    }

}

header ul li {
    display: inline-block;
    margin: 0 2rem;
}

header ul li a:hover {
    /* background-color: var(--primary-purple); */

    color: var(--luminous-gray);
    text-shadow:
        0 0 7px var(--primary-purple),
        0 0 10px var(--primary-purple),
        0 0 15px var(--primary-purple),
        0 0 20px var(--primary-purple),
        0 0 25px var(--primary-purple),
        0 0 30px var(--primary-purple);

}

header ul li a {
    color: var(--luminous-gray);
    text-decoration: none;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: bold;

    transition: 0.5s;

}

/* -- Home */

.Home {
    min-height: 100vh;
    background-image: url(assets/background-photo-home-degrade.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.Home h1 {
    padding-top: 20rem;
    text-align: center;
    font-size: 13rem;
}

.Home h2 {
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    color: var(--luminous-white);
    margin-top: 2rem;
}

.Home h1 span {
    font-size: 17rem;
}

@media screen and (max-width:840px) {
    .Home h1 {
        padding-top: 10rem;
    }
}

@media screen and (max-width:630px) {
    .Home h1 {
        font-size: 8rem;
        padding-top: 20rem;
    }

    .Home h2 {
        font-size: 3rem;
        margin-top: 5rem;
    }

    .Home {
        background-size: 160rem;
        min-height: 80vh;
    }
}

/* -- Apresentação */

.Apresentação {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.Apresentação .fotoperfil img {
    width: 60rem;
    max-width: 120%;
}

.Apresentação .textoapresentação h1 {
    font-size: 6rem;
    text-align: center;
    transition: 0.3s;
    margin: 5rem 0;
}

.Apresentação .textoapresentação h1:hover {
    color: var(--primary-purple);
    text-shadow:
        0 0 7px var(--primary-purple),
        0 0 10px var(--secundary-purple),
        0 0 30px var(--secundary-purple),
        0 0 70px var(--secundary-purple),
        0 0 100px var(--secundary-purple);
}

.Apresentação .textoapresentação p {
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
}

.Apresentação .textoapresentação {
    margin: 0 7rem;
    max-width: 50%;
    justify-content: center;
    align-items: center;
}

.Apresentação .textoapresentação img {
    display: none;
}

@media screen and (max-width:1050px) {

    .Apresentação .textoapresentação h1 {
        font-size: 4rem;
    }

    .Apresentação .textoapresentação p {
        font-size: 2rem;
    }

}

@media screen and (max-width:700px) {
    .Apresentação .fotoperfil {
        display: none;
    }

    .Apresentação .textoapresentação {
        max-width: 100%;
        margin: 0 5rem;
        display: flex;
        flex-direction: column;
    }

    .Apresentação .textoapresentação img {
        display: flex;
        max-width: 30rem;

    }

}

/* -- Sobre */

.Sobre-hero1 {
    min-height: 70vh;
    background-image: url(assets/background-photo-hero1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Sobre-hero1-body {
    min-height: 70vh;
    height: 100%;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Sobre-hero1-container {
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.Sobre-hero1-container iframe {
    height: 35rem;
    margin: auto;
}

.Sobre-hero1 h4 {

    color: var(--luminous-white);

    /* Body H4 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 150% */
    letter-spacing: -0.36px;
    text-align: justify;
}

.Sobre-hero1 p {
    color: var(--luminous-white);

    /* Body P */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    letter-spacing: -0.27px;
    text-align: justify;
}

.Sobre-hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.Sobre-hero2-body {
    min-height: 70vh;
    height: 100%;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    background: var(--bg-bold-black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Sobre-hero2-container {
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.Sobre-hero2-title {
    text-align: center;
    color: var(--bg-bold-black);
    font-size: 96px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word;
    align-items: center;
}

.Sobre-hero2 h4 {
    padding-left: 30px;
    text-align: left;
    color: var(--luminous-gray);
    font-size: 24px;
    /* font-family: Montserrat; */
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word;
    text-align: justify;
}

.Sobre-hero2 p {
    padding-left: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
    text-align: justify;
}

/* Responsividade para telas menores */
  @media screen and (max-width: 1110px) {
    .Sobre-hero1-body, .Sobre-hero2-body {
      padding: 20px; 
      flex-direction: column; 
    }
  
    .Sobre-hero1-container, .Sobre-hero2-container {
      margin: 20px;
      height: auto; 
    }
  
    .Sobre-hero1-container iframe {
      height: 25rem; 
      width: 100%; 
    }
  
    .Sobre-hero1 h4, .Sobre-hero1 p, .Sobre-hero2-title, .Sobre-hero2 h4, .Sobre-hero2 p {
      font-size: 16px; 
      line-height: 24px;
    }
  
    .Sobre-hero2-container {
      align-items: center; 
      text-align: center; 
      margin: 20px;
    }
  
    .Sobre-hero2-title {
      font-size: 36px; 
      line-height: 48px;
    }
  
    .Sobre-hero2 h4, .Sobre-hero2 p {
      font-size: 14px; 
      line-height: 20px;
      padding: 0; 
    }
  }

/* -- Performances */

#Performances .textperformance {
    justify-content: center;
    text-align: center;
}

#Performances .textperformance h1 {
    margin-top: 5rem;
    font-size: 4rem;
}

#Performances .textperformance h2 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

#Performances .galeria ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: auto 10rem;
    justify-content: center;

}

#Performances .galeria ul a li {
    transition: 0.3s;
    margin: 0 3rem;

}

#Performances .galeria ul a li img {
    max-width: 30rem;
    max-height: 30rem;
    margin-bottom: 6rem;
    border: none;
    transition: 0.3s;
}

#Performances .galeria ul a li img:hover {
    border: solid var(--primary-purple) 1rem;
}

/* -- Contato */

.form-hero1 {
    display: block;
    text-align: center;
    height: 30vh;
    background-image: url(assets/background-photo-hero2.webp);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.form-hero1 h1 {
    font-size: 5rem;
    padding-top: 4rem;
}

.form-hero1 h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

.form-hero2 {
    display: flex;
    flex-flow: wrap row;
}

.form-hero2 .addr {
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .form-hero2 {
        grid-template-columns: 1fr;
        display: flex;
        justify-content: center;
    }

    .form * {
        width: 100%;
    }

    .addr{
        margin: 4rem 0 2rem 0;
    }
}

.addr {
    flex: 100px;
    display: flex;
    text-align: center;
    /* padding: 50px; */
    font-size: 2rem;
    max-width: 50vw;
    align-items: center;
    align-items: center;
}

.form {
    padding: 15px 30px;
    font-size: 3rem;
}

.form p {
    /* margin: 30px; */
    /* margin: 5rem 5rem; */
    margin-top: 2rem;
    max-width: 50vw;
}

form {
    display: grid;
    gap: 20px;
}

form * {
    margin: 10px 0;
    height: 3rem;
    font-size: inherit;
    background-color: var(--bg-bold-black);
    border: solid 3px var(--primary-purple);
    color: var(--luminous-gray);
    font-size: 2rem;
    max-width: 50rem;
    padding: 2rem 0.5rem;
    box-shadow:
        0 0 7px #751e8269,
        0 0 10px #751e8273,
        0 0 30px #751e8252;
}

.form p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

form textarea {
    min-height: 20rem;
    padding-top: 10px;
    resize: none;
}

form button {
    width: 30%;
    margin: 10px;
    margin-left: 0px;
    transition: 0.3s;
    padding-bottom: 4rem;
    cursor: pointer;
}

form button:hover{
    background-color: var(--primary-purple);

}

/* -- Footer */

footer .hero1 {
    height: 10rem;
    background-image: url(assets/background-photo-hero2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

footer .hero2 {
    height: 22rem;
}

footer .hero2 .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem;
    margin-top: 4rem;
}

footer .hero2 .contact h2 {
    /* margin: 5rem; */
    width: 20rem;
    color: var(--primary-purple);
}

footer .hero2 .contact .email {
    text-align: right;
}

footer .hero2 .contact h2 a {
    color: var(--luminous-white);
    text-decoration: none;
    transition: 0.3s;
}

footer .hero2 .contact h2 a:hover {
    color: var(--primary-purple);
}

footer .hero2 .contact img {
    max-width: 10rem;
}

footer .hero2 .btn-square {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .hero2 .btn-square a {
    margin: 0 0.5rem;

}

footer .rodape {
    background-color: var(--bg-bold-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem;
    font-size: 1rem;
}

footer .rodape .recuo {
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
}

footer .rodape .btn-square {
    margin-right: 1rem;
}

footer .rodape .btn-square a button img {
    max-width: 2rem;
}

footer .rodape .btn-square button {
    transition: 1s;
    width: 3.7rem;
    height: 3.7rem;

}

@media screen and (max-width:600px) {

    footer .hero2 .contact h2 {
        font-size: 1rem;
        margin: 2.5rem;
    }

    footer .hero2 .contact img {
        max-width: 5rem;
    }

    footer .hero2 {
        height: 18rem;
    }

    footer .rodape {
        font-size: 0.7rem;
    }

}